:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  min-height: 100dvh;
  background-color: var(--black);
  font-family: Menlo, monospace;
  display: grid;
  place-content: center;
  padding: 2rem;
}

section {
  max-width: 31.25rem;
  gap: 0.5rem;
}

time {
  color: var(--yellow);
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
}

word {
  border-bottom: 1.5px solid transparent;
  transition: border-color 0.3s ease-in-out;

  &.marked {
    border-color: var(--red);
  }
}

letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: "|";
    color: var(--yellow);
    font-size: 14px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.active.is-last::before {
    left: 65%;
  }

  &.correct {
    color: var(--green);
  }

  &.incorrect {
    color: var(--red);
  }
}

#game {
  display: flex;
}

#results {
  display: none;
}

h2 {
  font-weight: 400;
  opacity: 0.4;
  margin: 0;
  font-size: 1rem;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  color: var(--yellow);
}

button {
  background-color: transparent;
  border: 0;
  margin-top: 2rem;
  padding: 0.5rem;
  opacity: 0.4;
  display: inline-block;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 1rem;

  &:hover {
    background-color: #444;
    opacity: 1;
    scale: 110%;
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
