html,
body {
  background-color: #21232a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 4.375rem;
}

button {
  padding: 0.9375rem;
  font-size: 1.3rem;
  margin-right: 0.3125rem;
  
}
