---

---

<style>
  nav {
    background-color: #000;
    color: #fff;
    padding: 1.25rem;
  }
</style>

<nav class="hero-nav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/products">Producto</a>
  <a href="/faq/">FAQ</a>
</nav>
