---
import NavBar from "../../components/NavBar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

---

<BaseLayout
  title="Sobre nosotros"
>
  <h1>About</h1>

  <NavBar/>
</BaseLayout>

