html, body {
margin: 0;
background-color: #2f4f30;
color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1.25rem;
    font-size: 1.5625rem;
}

.carta {
    position: relative;
    left: 6.25rem;
    margin-left: -4.6875rem;
    width: 9.375rem;
}

#jugador-cartas, #computadora-cartas {
    min-height: 240px;
}