/* My minimal reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* My Styles */
body {
  background: #171717;
}

.container {
  background-image: linear-gradient(#051327, #000);
  position: fixed;
  inset: 0;
}

.space {
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  animation: moveStars var(--duration, 20s) linear infinite;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100vh);
  }
}

