---
import Post from "../components/Post.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const response = await fetch("http://localhost:3000/posts");
const posts = await response.json();
---

<DefaultLayout>
  <meta slot="header" charset="utf-8" />
  <link slot="header" rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta slot="header" name="viewport" content="width=device-width" />
  <meta slot="header" name="generator" content={Astro.generator} />
  <title slot="header">My Astro Tutorial</title>

  <h1 class="text-6xl font-bold text-center my-12">Mis Posts</h1>

  <div class="grid max-w-7xl mx-auto grid-cols-3 gap-4">
    {posts.map((post) => <Post key={post.id} post={post} />)}
  </div>
</DefaultLayout>

